<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcMobile.android.popularmovies">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.jcMobile.android.popularmovies.Splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.jcMobile.android.popularmovies.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.jcMobile.android.popularmovies.ChildActivity"
            android:label="@string/title_ChildActivity"
            android:parentActivityName="com.jcMobile.android.popularmovies.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jcMobile.android.popularmovies.MainActivity" />
        </activity>

        <activity
            android:name="com.jcMobile.android.popularmovies.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jcMobile.android.popularmovies.MainActivity"/>

        <provider
            android:name="com.jcMobile.android.popularmovies.data.PopularMovieProvider"
            android:authorities="com.jcMobile.android.popularmovies.app"
            android:exported="false" />

    </application>

</manifest>